/* font-family: 'Montserrat', sans-serif;
font-family: 'Ramaraja', serif;
font-family: 'Roboto', sans-serif; */
.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */
    letter-spacing: -0.02em;
    color: #0A1B32;
}
.logo-dot {
    color: #33A2E0
}
.main-title {
    max-width: 495px;
    width: 100%;
    padding-top: 203px;
    padding-left: 200px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;   
}
.main-info {
    max-width: 583px;
    width: 100%;
    padding-top: 10px;
    padding-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
}
section {
    display: inline-block;
}